<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awei.crm.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.awei.crm.model.Activity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="CHAR" property="owner" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="startDate" jdbcType="CHAR" property="startDate" />
    <result column="endDate" jdbcType="CHAR" property="endDate" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createTime" jdbcType="CHAR" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="editTime" jdbcType="CHAR" property="editTime" />
    <result column="editBy" jdbcType="VARCHAR" property="editBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, owner, name, startDate, endDate, cost, description, createTime, createBy, editTime, 
    editBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_activity
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_activity
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.awei.crm.model.Activity">
    insert into tbl_activity (id, owner, name, startDate, 
      endDate, cost, description, 
      createTime, createBy, editTime, 
      editBy)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startDate,jdbcType=CHAR}, 
      #{endDate,jdbcType=CHAR}, #{cost,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, 
      #{editBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.awei.crm.model.Activity">
    insert into tbl_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startDate != null">
        startDate,
      </if>
      <if test="endDate != null">
        endDate,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="editTime != null">
        editTime,
      </if>
      <if test="editBy != null">
        editBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.awei.crm.model.Activity">
    update tbl_activity
    <set>
      <if test="owner != null">
        owner = #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        startDate = #{startDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        endDate = #{endDate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        editTime = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        editBy = #{editBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.awei.crm.model.Activity">
    update tbl_activity
    set owner = #{owner,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=CHAR},
      endDate = #{endDate,jdbcType=CHAR},
      cost = #{cost,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=CHAR},
      createBy = #{createBy,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=CHAR},
      editBy = #{editBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>


  <insert id="save" parameterType="activity">
    insert into tbl_activity(id,owner,name,startDate,endDate ,cost ,description ,createTime ,createBy)
    values(#{id} , #{owner} , #{name} , #{startDate} , #{endDate} , #{cost} , #{description} , #{createTime} , #{createBy})
</insert>
  <select id="pageList" resultType="map">

    select a.id,u.name owner,a.startDate,a.endDate,a.name
    from tbl_activity a join tbl_user u on u.id=a.owner
    <where>
      <if test="name!=null and name!=''">
        a.name like '%' #{name} '%'
      </if>
      <if test="owner!=null and owner!=''">
        and  u.name like '%' #{owner} '%'
      </if>
      <if test="startDate!=null and startDate!=''">
        and  a.startDate &gt;=#{startDate}
      </if>
      <if test="endDate!=null and endDate!=''">
        and   a.endDate &lt;=#{endDate}
      </if>
    </where>
    order by a.startDate desc,a.endDate
    limit #{pageNo},#{pageSize}
  </select>

  <select id="pageListTotal" resultType="int">
    select count(*)
    from tbl_activity a join tbl_user u on u.id=a.owner
    <where>
      <if test="name!=null and name!=''">
        a.name like '%' #{name} '%'
      </if>
      <if test="owner!=null and owner!=''">
        and  u.name like '%' #{owner} '%'
      </if>
      <if test="startDate!=null and startDate!=''">
        and  a.startDate &gt;=#{startDate}
      </if>
      <if test="endDate!=null and endDate!=''">
        and   a.endDate &lt;=#{endDate}
      </if>
    </where>
    order by a.startDate desc,a.endDate
  </select>

  <delete id="deleteSelective" >
    delete tbl_activity,tbl_activity_remark from tbl_activity left join tbl_activity_remark  on tbl_activity.id=tbl_activity_remark.activityId
    where tbl_activity.id in
    <foreach collection="array" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>

  <select id="getActivityByid" resultType="activity">
        select
        id,owner,name,startDate,endDate,cost,description,createTime,createBy,editTime,editBy
        from tbl_activity where id=#{id}

    </select>
  <update parameterType="activity" id="update" >
        update tbl_activity set  owner=#{owner}, name=#{name},startDate=#{startDate}, endDate=#{endDate},
         cost=#{cost}, description=#{description},editTime=#{editTime}, editBy=#{editBy} where id=#{id}

    </update>
  <select id="getActAndName" resultType="activity">
        select a.id
        ,u.name owner
        ,a.name
        ,a.startDate
        ,a.endDate
        ,a.cost
        ,a.description
        ,a.createTime
        ,a.createBy
        ,a.editTime
        ,a.editBy
        from tbl_user u join  tbl_activity a on u.id=a.owner where a.id=#{id}
    </select>
  <select id="showActivityList" resultType="Activity">
     SELECT a.id
	,u.name owner
	,a.name
	,a.startDate
	,a.endDate
	,a.cost
	,a.description
	,a.createTime
	,a.createBy
	,a.editTime
	,a.editBy
	FROM tbl_user u JOIN tbl_activity a JOIN tbl_clue_activity_relation ca JOIN tbl_clue c

	on ca.clueId=c.id and ca.activityId=a.id and a.owner=u.id
	 and ca.clueId=#{id}
  </select>


  <select id="getAct_ActIdNotInClue" resultType="activity">
    select a.id,u.name owner,a.startDate,a.endDate,a.name
    from tbl_activity a join tbl_user u
		 on u.id=a.owner where a.name like '%' #{name} '%' and a.id not in (SELECT activityId from tbl_clue_activity_relation where clueId=#{clueId})
  </select>

  <select id="getAct_ActIdInClue" resultType="activity">
    select a.id,u.name owner,a.startDate,a.endDate,a.name
    from tbl_activity a join tbl_user u
		 on u.id=a.owner where a.name like '%' #{name} '%' and a.id  in (SELECT activityId from tbl_clue_activity_relation where clueId=#{clueId})
  </select>

</mapper>